apispec==6.3.0
Babel==2.13.0
black==22.1.0
blinker==1.6.3
blue==0.9.1
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
coverage==7.3.2
flake8==4.0.1
Flask==2.3.3
Flask-Admin==1.6.1
flask-apispec==0.11.4
Flask-BabelEx==0.9.4
Flask-SQLAlchemy==3.1.1
greenlet==3.0.0
gunicorn==21.2.0
idna==3.4
iniconfig==2.0.0
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.3
marshmallow==3.20.1
mccabe==0.6.1
mypy-extensions==1.0.0
packaging==23.2
pathspec==0.11.2
platformdirs==3.11.0
pluggy==1.3.0
psycopg2-binary==2.9.9
pycodestyle==2.8.0
pydub==0.25.1
pyflakes==2.4.0
pytest==7.4.2
pytest-cov==4.1.0
python-dotenv==1.0.0
pytz==2023.3.post1
requests==2.31.0
speaklater==1.3
SQLAlchemy==2.0.21
-e git+https://github.com/A-V-tor/task-flaskREST.git@427ad43cc4f7030b2dfd04d861c71ca2e2639552#egg=task_flaskrest
tomli==2.0.1
typing_extensions==4.8.0
urllib3==2.0.6
webargs==8.3.0
Werkzeug==3.0.0
WTForms==3.1.0
